$themeColor: #0eb44c; 
$themeColorHover: #0eb44c; 
$pageBackground: #fff; 
$lightButtonColor: #ffffff;   
$lightButtonBorderColor: #a0a0a0; 
$lightButtonColorHover: #f1f1f1; 

.color{color: $themeColor;}
$black: #020102;  
.black{color: $black;}



